<% layout('layouts/boilerplate') -%>

<div class="row">
    <h1 class="text-center">Edit Campground</h1>
    <div class="col-6 offset-3">
        <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="post" class="validated-form" enctype="multipart/form-data" novalidate>
            <div class="mb-3">
                <lable class="form-label" for="title">Title</lable>
                <input class="form-control" type="text" id="title" name="campground[title]" value="<%= campground.title%>" required>
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3">
                <lable class="form-label" for="Location">Location</lable>
                <input class="form-control" type="text" id="Location" name="campground[location]" value="<%= campground.location%>" required>
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3 custom-file">
                <label for="image" class="form-label custom-file-label">Add more image(s)...</label>
                <input class="form-control custom-file-input" type="file" id="image" name="image" multiple>
            </div>
            <div class="mb-3">
                <label class="form-label mb-0" for="price">Campground Price</label>
                <div class="input-group ">
                    <span class="input-group-text" id="price-label">$</span>
                    <input type="text" class="form-control" placeholder="0.00" id="price" aria-label="Username"
                           aria-describedby="price-label"  name="campground[price]" value="<%= campground.price%>" required>
                    <div class="valid-feedback">Looks good!</div>
                </div>
            </div>
            <div class="mb-3">
                <lable class="form-label" for="description">Description</lable>
                <textarea class="form-control" type="text" id="description" name="campground[description]"><%= campground.description%> required </textarea>
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3">
                <% campground.images.forEach(function (img, i) { %>
                    <img src="<%=img.thumbnail%>" class="img-thumbnail" alt="">
                <div class="form-check-inline">
                    <input type="checkbox" id="image-<%= i %>" name="deleteImages[]" value="<%=img.filename%>">
                </div>
                <% } )%>
            </div>
            <div class="mb-3">
                <button class="btn btn-info">Save Campground</button>
            </div>
            <a href="/campgrounds">Back to all Campgrounds</a>
        </form>
    </div>
</div>
